@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	color: #fff;
	background-color: #fff;
	color: black;
	/* blue #141E30; */
	/* yellow #f5b31c; */
	/* green #6e8f0b */
}

html {
	scroll-behavior: smooth;
}
